<h1><%= @store.name %></h1>


<%= link_to 'Add a new item to inventory', new_store_item_path(@store) %>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, [@store, item] %></li>
  <% end %>
</ul>